body {
  background: #191765;
  font-family: Roboto, sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
}

.desktop-menu {
  display: none;
}

.navmenu1 {
  display: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#overlay {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #191765;
  background-image: url(images/menu-2.svg), url(images/menu-1.svg);
  background-repeat: no-repeat no-repeat;
  background-position: top left, bottom right;
}

.nav1 {
  width: 30px;
  height: 30px;
  box-sizing: content-box;
  align-self: flex-end;
  margin-top: 40px;
  padding: 10px 10px 10px 0;
}

#overlay a {
  font-size: 32px;
  line-height: 56px;
  color: white;
  text-decoration: none;
  margin-top: 40px;
}

.navmenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 50px;
}

#close-button {
  width: 16px;
  height: 16px;
}

.image1 {
  display: none;
}

img:hover {
  background: cyan;
}

.placeholder1 .holder img,
.background-image1 .holder img,
.background-image2 .holder img,
.background-image3 .holder img {
  width: 100%;
}

#menu img {
  float: right;
  height: 50px;
  width: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: auto 30px;
}

.menu {
  margin-top: 30px;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  font-size: 14px;
  margin-top: 10px;
}

.contact ul {
  display: flex;
  justify-content: center;
  margin: 10px 0 0;
}

.content {
  text-align: center;
  background-image: url("image/Ellipse18.svg");
  background-repeat: no-repeat;
  background-position: 0 -50px;
  background-position-y: top;
  display: flex;
  flex-wrap: wrap;
}

.able {
  display: flex;
  justify-content: center;
  background-image: url("image/Ellipse19.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.ability {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.h {
  display: flex;
  justify-content: space-between;
}

h4 {
  color: #9490ff;
  padding: 0;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  color: #edecff;
  text-align: center;
  padding: 30px 0 0 40px;
  margin: 0;
}

h1 {
  font-size: 38px;
  font-weight: bold;
  color: #7d73fc;
  text-align: center;
  padding: 60px 0 0 50px;
  margin-bottom: 0;
}

.s {
  padding-bottom: 20px;
}

.img {
  padding: 0 30px;
  align-self: center;
}

p {
  font-size: 20px;
  text-align: left;
  vertical-align: top;
  padding: 0 10px 0 30px;
}

.content p {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 50px 20px;
}

h3 {
  font-size: 32px;
  text-align: left;
  vertical-align: top;
  padding: 30px;
}

.logo h3 {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 0;
}

.media {
  margin: 0 10px 0 0;
}

.arrow h3 {
  color: #a2a3ae;
  margin-left: 15px;
  font-size: 20px;
}

.placeholder1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 30px 0;
  background: url("image/Ellipse19\(2\).svg");
  background-repeat: no-repeat;
  background-position: left;
}

.work {
  color: #9490ff;
  font-size: 40px;
  text-align: left;
  vertical-align: top;
}

.work-section {
  padding: 0 24px;
}

.items {
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

.items li {
  border-right: 1px solid #fff;
  border-left: none;
  border-top: none;
  border-bottom: none;
  font-size: 15px;
  padding: 0 20px 0;
  width: 50%;
}

.items .ruby {
  border-right: none;
}

.button {
  width: 89px;
  height: 48px;
  margin: 30px 30px 0;
  background: #7d73fc;
  color: #fff;
  border: 0;
  float: left;
  font-size: 12px;
  cursor: pointer;
}

.c {
  color: #7d73fc;
  text-align: center;
}

.background-image1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 30px 0;
  background: url("image/Ellipse20.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.background-image2 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 30px 0;
  background: url("image/Ellipse21.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.background-image3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 0;
  background: url("image/Ellipse22.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.arrow {
  display: none;
}

.arrow1 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.icons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icons ul {
  display: flex;
}

form {
  display: flex;
  margin: 0;
  flex-direction: column;
  width: 90%;
  align-content: space-around;
}

.text {
  width: 90%;
  height: 20px;
  padding: 20px;
  margin: 20px;
}

#message {
  width: 90%;
  height: 140px;
  margin: 20px;
  padding: 20px;
}

.email {
  color: #ebebff;
  text-align: center;
  font-size: 20px;
}

.button:hover {
  background: #7d73fc;
}

.button:active {
  background: #5e42d7;
}

.button:disabled {
  background: #2a2b33;
  cursor: not-allowed;
}

@media only screen and (min-width: 768px) {
  #menu {
    display: none;
  }

  #close-button {
    display: none;
  }

  #overlay {
    display: none;
  }

  header {
    display: flex;
  }

  .navmenu1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 30%;
  }

  .navmenu1 a {
    color: #fff;
    text-decoration: none;
  }

  .desktop-menu {
    color: #fff;
  }

  .content {
    vertical-align: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/circle1.svg");
    background-repeat: no-repeat;
    background-position: left;
  }

  .content p {
    margin: 0 24% 0 26%;
  }

  .ability {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }

  .able {
    display: flex;
    justify-content: center;
    background-image: url("images/circle2.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding: 50px;
  }

  h1 {
    font-size: 50px;
  }

  .img {
    margin: 0 25%;
  }

  #img1 {
    margin: 0 5%;
    padding: 0;
  }

  li {
    line-height: 27px;
    margin-top: 20px;
    margin-left: 30px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .bar {
    display: inline-flex;
  }

  h5 {
    font-size: 20px;
  }

  .arrow {
    display: flex;
    justify-content: space-around;
  }

  .arrow1 {
    display: none;
  }

  .contact ul {
    display: flex;
    justify-content: center;
  }

  .work {
    text-align: left;
    padding: 50px 0;
  }

  .work-section {
    display: grid;
    padding: 150px 100px;
    
  }

  .work-section h2 {
    padding: 50px;
  }

  .work-section h3 {
    margin: 0;
  }

  .work-section p {
    margin: 0;
  }

  .holder {
    z-index: -1;
  }

  .placeholder1 .holder,
  .background-image1 .holder,
  .background-image2 .holder,
  .background-image3 .holder {
    width: 100%;
  }

  .stories,
  .stories1 {
    width: 45%;
    margin-right: 50px;
  }

  .placeholder1 {
    display: flex;
    justify-content: space-between;
    background: url("images/Ellipse\ 19\ \(4\).svg");
    background-repeat: no-repeat;
    background-position: left;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 40px;
    padding: 100px 50px 140px;
  }

  .background-image1 {
    display: flex;
    justify-content: space-between;
    background: url("images/Ellipse20.svg");
    background-repeat: no-repeat;
    background-position: right;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 50px 100px 50px;
  }

  .background-image2 {
    display: flex;
    justify-content: space-between;
    background: url("images/Ellipse21.svg");
    background-repeat: no-repeat;
    background-position: left;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 100px 50px 0;
  }

  .background-image3 {
    display: flex;
    justify-content: space-between;
    background: url("images/Ellipse22.svg");
    background-repeat: no-repeat;
    background-position: right;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    width: 100%;
    padding: 200px 50px 0;
  }

  #line {
    margin: 0;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form p {
    height: 61px;
    width: 684px;
    border-radius: 0;
    text-align: center;
  }

  .form-holder {
    display: flex;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  #btn {
    align-self: center;
    height: 48px;
    width: 160px;
    margin: 50px 0;
  }

  #message {
    border-radius: 2px;
    margin-top: 20px;
    height: 136px;
    width: 684px;
  }

  .text {
    margin-top: 20px;
    height: 48px;
    width: 684px;
    border-radius: 2px;
  }

  #icon {
    align-self: center;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .icons {
    display: flex;
    justify-content: center;
  }

  .icons ul {
    display: flex;
  }

  .email {
    margin-top: 25px;
    color: #fff;
  }

  .contact-form h2 {
    font-size: 40px;
    font-weight: bold;
    color: #9390ff;
    align-items: center;
  }
}
